<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nDynMate marketCap</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-sm fluid">
      <div class="d-lg-flex align-items-lg-center py-4">
        <div>
          <h1 class="display-4 text-muted">Top Cryptocurrency Prices</h1>
        </div>        
      </div>
      <div id="top">
        <div class="bg-white table-responsive">
          <table class="table">
            <tbody>
              <div class="row" th:each="coinMarket, ranking : ${coinMarkets}">
              <tr class="table-light">                
                  <td>
                    <div class="d-flex mt-2 border-right">
                      <div class="box rounded">
                        <span class="text-primary px-2 font-weight-bold" th:text="${ranking.count}"></span>
                      </div>
                    </div>
                  </td>
                  <td class="d-flex">
                    <div>
                      <img class="img-fluid" style="max-width: 10%; height: auto;" th:src="${coinMarket.getImage}" />
                      <div>
                        <b th:text="${coinMarket.getName}"></b>
                      
                          <b class="text-muted" th:text="${coinMarket.getSymbol.toUpperCase}"></b>
                      </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <div class="text-muted">Price</div>
                      <div>
                        <div>
                          <b th:text="${coinMarket.getCurrentPrice}"></b>
                        </div>
                      </div>                    
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <div class="text-muted">24h %</div>
                        <div>
                          <div th:if="${coinMarket.getPriceChangePercentage24h < 0}">
                            <b class="text-danger" th:text="${coinMarket.getPriceChangePercentage24h}"></b>
                      </div>
                      <div th:if="${coinMarket.getPriceChangePercentage24h >= 0}">
                          <b class="text-success" th:text="${coinMarket.getPriceChangePercentage24h}"></b>
                    </div>
                  </td>                  
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
