<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid g-0">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" style="padding-left: 30px;" href="https://github.com/czujko">CryptoNdynMATE</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Comprar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Divisas</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="/usd">USD</a>
                                <a class="dropdown-item" href="/euro">Euro</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex my-2 my-lg-0" style="padding-right: 30px;">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-left: 30px;">
            <nav class="p-3 breadcrumb">
                <a class="breadcrumb-item" href="/usd">Inicio</a>
                <a class="breadcrumb-item" href="/usd">Cryptocurrencies</a>
                <span class="breadcrumb-item active"></span>
            </nav>
        </div>
    </div>
    <div class="container-fluid">        
        <div class="row d-lg-flex align-items-lg-center py-1" style="padding-left:30px;">
            <div>
                <h1 class="display-6 text-muted">Principales 100 Criptomonedas</h1>
              </div>
        </div>
        <div class="row ${justify-content-md-center}" style="padding-left:30px; padding-right: 30px;">
            <div class="bg-white table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr class="table" style="background-color: #e3f2fd;">
                      <th scope="col"># Ranking</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Precio</th>
                      <th scope="col">24hs %</th>
                    </tr>
                  </thead>
                  <tbody>
                    <div class="row" th:each="coinMarket, ranking : ${coinMarkets}">
                      <tr class="table">
                        <td>
                          <div class="d-flex border-right">
                            <div class="box rounded">
                              <span class="text-secondary px-2 font-weight-bold" th:text="${ranking.count}"></span>
                            </div>
                          </div>
                        </td>
                        <td class="d-flex">
                          <div>
                            <img class="img-fluid" style="max-width: 15%; height: auto;" th:src="${coinMarket.getImage}" />
                            <div>
                              <b th:text="${coinMarket.getName}"></b>
                              <b class="text-muted" th:text="${coinMarket.getSymbol.toUpperCase}"></b>
                            </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column">
                            <div>
                              <div>
                                <b th:text="${coinMarket.getCurrentPrice}"></b>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column">
                            <div>
                              <div th:if="${coinMarket.getPriceChangePercentage24h < 0}">
                                <b class="text-danger" th:text="${coinMarket.getPriceChangePercentage24h}"></b>
                              </div>
                              <div th:if="${coinMarket.getPriceChangePercentage24h >= 0}">
                                <b class="text-success" th:text="${coinMarket.getPriceChangePercentage24h}"></b>
                              </div>
                            </div>
                          </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>